@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom left, #ffc366, #ff6666);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Golos Text', system-ui;
}
